@charset "UTF-8";
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  font-family: Georgia, serif;
  font-size: 100%;
  background-color: white;
  margin: 0;
}

/* link styles */
a:link, a:visited { color: #DC6903; }
a:focus, a:hover, a:active { color: #F9AB33; }
a {
	 text-decoration: none;
	 border-bottom: 1px dotted;
	 padding-bottom: .2em;
}


/* header styles */
header {
	color: white;
	background:  url(images/croissants_banner.jpg) no-repeat center center;
	background-size: cover; 
	text-align: center;
	height: 240px;
}
header h1 {
	margin-top: 36px;
}
header p {
	display: none;
	font-style: italic;
	font-size: 1.2em;
	margin-top: -12px;
}


/* nav styles */
nav, footer {
	font-family: verdana, sans-serif;
	background-color: #783F27;
}
nav ul li a:link, nav ul li a:visited {
	color: #F9AB33;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
	color: #fff;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  font-size: .8em;
	text-transform: uppercase;
	letter-spacing: .2em;
	flex: 1 1 50%;
}
nav ul li a { 	
  display: block; 	
  border: 1px solid;
  border-radius: 6px;
  padding: 6px 12px;
  margin: 6px; 
  } 	


/* main "products" styles */
main {
	font-family: 'Stint Ultra Expanded', cursive;
  font-size: 1em;
	line-height: 1.8em;
	color: #555;
	margin: 10px;

}
h2 {
  font-family: 'Stint Ultra Expanded', cursive;
	font-size: 1.5em;
}
h3 {
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #7A0002;
	border-top: 1px solid;
	margin-top: 1.5em;
}
p.more {
	font-family: verdana, sans-serif;
	text-transform: uppercase; 
	font-size: .8em;
	clear: left;
}
main img {
  display: block;
  margin: 8px auto;
}
/*




/* aside "hours" styles */
aside {
	background: url(images/scallop_top.png) repeat-x left top; 
	background-color: #F6F3ED;
	padding: 16px;

}
/* misc styles */
footer {
	color: #EADDC4;
	text-align: center;
	font-size: .8em;
	padding: 1em;
}
.day {
	color: #783F27;
	font-family: verdana, sans-serif;
	font-size: .8em;
	text-transform: uppercase;
}
.linelength {
	background: yellow;
}
